.article-title {
    overflow-wrap: break-word;
}

/* 首页目录 */
#home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    max-width: 1200px;
    width: 100%;
}

#home-container .item {
    margin: 0;
    border: .1em solid #e0e0e0;
    list-style: none;
    transition: all 1s;
}

#home-container .item:hover a {
    color: var(--md-accent-fg-color);
}

#home-container .item a {
    display: block;
    padding: .5em;
    font-weight: 600;
    color: #000000de;
}

#home-container .item a i {
    font-weight: 500;
}

/* 手机端调整为两列 */
@media (max-width: 768px) {
    #home-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 更小屏幕（如手机竖屏）调整为单列 */
@media (max-width: 480px) {
    #home-container {
        grid-template-columns: 1fr;
    }
}